.reportView{

}
	.reportView p{

	}

	.reportView table{
		border-collapse: collapse; 
		border: 1px solid grey;
	}

		.reportView table tr{
			
		}
		
			.reportView table tr th{
				width: 100px;
				border: 1px solid grey;
				text-align: center;
			}



